.contenitore{
    width: 1200px;
    margin: auto;
}

.intestazione{
    background: url("../img/pattern.png") repeat-x rgb(93, 200, 250);
    height: 100px;
    background-size: contain;   
}
#logo{
    background-color: yellow;
    background: url("../img/logo.svg") no-repeat;
    width: 50px;
    height: 50px;
    background-color: yellow;
}

#nome_del_scrittore{
    color: rgb(55, 176, 247);
}

.testo{
    color: darkgray;
}

#data_pubblicazione{
    font-size: small;
    color: lightgrey;
}
.descrizione_foto{
    font-size: xx-small;
}

.nota_evidenziata{
    background-color: yellow;
}

#intestazione_tabella{
    text-align: left;
    background-color: lightskyblue;
    color: white;
}

#corpo-tabella{
    text-align: left;
    background-color: rgb(128, 185, 221);
}

#monitor{
    background: url('../img/monitor.jpg') no-repeat;

}

#grafico{
    background: url("../img/graph.jpg") no-repeat;
}

.testo-nelle-immagini{
    margin: 0px;
    color: #FFFFFF;
    background-size: cover;
    background-color: red;
    font-size: 25px;
    text-align: left;
    border-left: 20px;
    width: 300px;
    height: 200px;

}